@use "../../../../style/AlertMessages/errorMessage";
@use "../../../../style/colors.scss" as color;
@import "../../../../style/container";

.editProfileContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  width: 90%;
  margin: auto;

  .userInfoContainer {
    @include containerStyle;

    .editInput {
      border-bottom: 0.6px solid #b5b5bf;
    }

    .firstRow {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 25px;
      .choosePhotoButton {
        border: 1px solid #b5b5bf;
        cursor: pointer;
        border-radius: 133px;
        width: 160px;
        height: 130px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        input[type="file"] {
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          position: absolute;
          z-index: 2;
        }
        img {
          margin: 0 !important;
          position: absolute;
        }
      }
    }
    .secondRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      margin-top: 30px;
    }

    .SaveButton {
      background-color: #ff5569;
      border: none;
    }
  }
}
