@use "../../../../style/colors.scss" as color;
@import "../../../../style/container";

.containerCreatedEvents {
  @include containerStyle;

  p {
    margin: 0;
  }

  .cardsContainer {
    margin-top: 20px;
    width: 100%;
    table {
      border-collapse: collapse;
      width: 100%;
      td {
        text-align: left;
        padding: 20px 0;
      }
    }

    .eventButtons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .actionButton {
        margin-top: 0;
        background-color: transparent;
        border: none;
        padding: 12px 5px !important;
        width: auto;
        box-shadow: none;
        p {
          width: 100%;
        }
      }
      .showMoreButton {
        margin-top: 0;
        background-color: color.$button-color;
        border: none;
        padding: 12px 5px !important;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .headerText {
      font-size: 20px;
      font-weight: 500;
      color: color.$headerColor;
      margin-bottom: 0;
    }
    .showButt {
      margin-top: 0;
      background-color: color.$button-color;
      border: none;
    }
  }
}
