.SimpleNavBar{
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 89px;
    width: 100%;

    .logo{
        margin-right: 20px;
        font-family: 'Baloo Thambi 2', cursive;
        color: rgba(252, 193, 23, 1);
        margin-bottom: 0;
    }

    .items{
        display: flex;
    }
}

.rightPart {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .location, .logButton{
        margin: 0;
        padding: 0;
    }

    .logButton{
        background-color: #FCC117;
        color: white;
        padding: 7px 32px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500px;
        margin-bottom: 5px;
    }

    .location{
        margin-right: 43px;
        color: white;
        font-size: 18px;
        font-weight: 400;

        .locationI{
            width: 24px;
            height: 24px;
            margin-bottom: 6px;
            margin-right: 8px;
        }
    }
}