.logNav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  width: 200px;
  position: fixed;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    li {
      text-decoration: none;
      display: inline-block;
    }
  }
}
