@use "../../../style/alerts";
.forgotPasswordContainer {
  height: 100vh;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../../assets/icons/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 40px rgba(167, 167, 167, 0.25);
    width: 530px;

    .inputContainer {
      width: 70%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }

    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 41px;
      color: #0c0d2c;
    }
    .resetButton {
      background-color: #ff5569;
      border: none;
      margin-top: 30px;
    }
  }
}
