@use "../../../../style/colors.scss" as color;
@import "../../../../style/container";
.changePasswordPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  width: 90%;
  margin: auto;
  .changePasswordContainer {
    @include containerStyle;
    .title {
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      color: color.$headerColor;
      margin-bottom: 0;
    }

    .passwordForm {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      margin-top: 40px;

      .password {
        border-bottom: 0.6px solid #b5b5bf;
      }

      .saveButton {
        margin: 0;
        border: none;
        background-color: color.$button-color;
      }
    }
  }
}
