
.Filters{
    // margin: 40px auto;
    // width: 400px;
    // display: block;
    // text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.LayoutFilter{
    margin: 40px auto;
    width: 400px;
    display: block;
    text-align: left;
}

