
.Filters{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

    

}
// .multiSelectContainer{
//     width: 15% !important;
// }

.css-2b097c-container{
    width: 100%;
    margin-right: 35px;
    // border: none;
    .css-yk16xz-control{
        border: none;

        .css-1okebmr-indicatorSeparator{
            background-color: transparent;
        }
    }

    .css-26l3qy-menu{
        width:auto !important;
    
        .css-4ljt47-MenuList{
            display: grid;
            grid-template-columns: repeat(2,minmax(90px, 1fr));
            text-align: left;
            padding: 0 !important;
        }
    }

}

.css-tlfecz-indicatorContainer{
    color: #FCC117 !important;
    svg{
        height: 50px;
        width: 40px;
    }

}


.css-g1d714-ValueContainer{
    overflow: visible !important;

    .css-1wa3eu0-placeholder{
        color: black !important;
    }
}





.LayoutFilter{
    margin: 40px auto;
    width: 400px;
    display: block;
    text-align: left;
}

