@use "../../../style/colors" as color;
@mixin fileContainer() {
  border: 1px solid color.$gray;
  border-radius: 5px;
  background-color: #f0f0f2;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.modal-content {
  border: none !important;
  border-radius: 20px !important;

  .modal-body {
    display: flex;
    justify-content: center;
  }

  .formAddPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .inputContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      position: relative;
      .inputBackground,
      .inputEventPhoto {
        @include fileContainer();
        position: relative;
        input[type="file"] {
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          z-index: 2;
        }
        label {
          color: color.$titleColor;
          position: absolute;
          top: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .previewPhotoContainer {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .backgroundContainer {
        display: flex;
        flex-direction: column;
      }
      .previewPhoto {
        margin: 10px;
        border: 1px solid black;
        border-radius: 5px;
        width: 115px;
        height: 115px;
        .removePhoto {
          width: 100%;
          text-align: end;
          padding-right: 5px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .inputTooltip {
    display: none;
  }

  .inputEventPhoto:hover ~ .inputTooltip {
    display: block;
    position: absolute;
    top: 70px;
    right: 10px;
    color: color.$titleColor;
    background-color: color.$gray;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
  }
  .addTypeButt {
    background-color: color.$button-color;
    border: none !important;
    margin: 0;
  }
  .disabledInput {
    box-shadow: inset 0px 2px 5px rgba(158, 156, 156, 0.25);
    input[type="file"] {
      cursor: not-allowed !important;
    }
  }
}
