.Carousel{
    img{
        width: 100vw;
        height: 85vh;
        object-fit: cover;
        filter: brightness(85%);
    }

    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        padding-top: 20px;
    
    }

}


