.suggestionList{
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    font-weight: 500;
    position: absolute;
    right:225px;

    .suggestions{
        width: 100%;
        text-align: start;
    }
}

.locationInput{
    width: 150px;
    border: none;
    border-bottom: 0.6px solid #FCC117;
    padding: 8px 0;
    outline: none;
    font-weight: 300;
    font-size: 14px;
    background-color: none;
    
    // width: 100%;
}