@use "../../../../style/colors" as color;
@import "../../../../style/container";

.postponeEventContainer {
  @include containerStyle($width: 90%);
  margin: auto;

  .title {
    color: color.$titleColor;
    text-align: left;
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
  }

  hr {
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      to(transparent),
      color-stop(50%, #d8d6d6)
    );
    width: 100%;
    height: 0.5px;
  }

  .postponeForm {
    margin: 30px 20px 20px 20px;

    .inputContainer {
      border-bottom: 1px solid color.$gray;
    }

    .postponeReasonInput {
      display: flex;
      flex-direction: column;
      margin-bottom: 37px;
      width: 100%;

      label {
        text-align: left;
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 10px;
        color: color.$titleColor;
      }
      .postponeInput {
        padding: 50px;
        border-radius: 10px;
        background-color: #fbfbfb;
        box-shadow: inset 0px 2px 5px rgba(158, 156, 156, 0.25);
        border: none;
      }
    }

    .secondLine {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 25px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .locationInput {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      width: 100%;

      .labels {
        margin: 0;
        position: absolute;
        top: 5px;
        bottom: 0;
        padding-left: 10px;
        pointer-events: none;
        transition: 0.5s;
        font-weight: 300;
        font-size: 13px;
        color: color.$labelColor;
      }

      input {
        border: none;
        border-bottom: 0.6px solid color.$gray;
        padding: 8px 0;
        outline: none;
        font-weight: 300;
        font-size: 14px;
        width: 100%;
      }

      input:not(:placeholder-shown) ~ .labels,
      input:focus ~ .labels {
        transform: translateY(-25px);
      }

      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }
    }
    .postponeButton {
      background-color: color.$button-color;
      border: none;
    }
  }
}
