.typeContainer {
  border-radius: 10px;
  background-color: #fbfbfb;
  border: 1px solid #e9e9eb;
  box-shadow: inset 0px 2px 5px rgba(158, 156, 156, 0.25);

  p {
    margin-bottom: 0;
    padding: 7px 17px;
  }
}
