.userNavContainer {
  display: flex;
  justify-content: flex-end;

  .userInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 31px;

    p {
      margin: 0;
      margin-right: 18px;
    }

    .userAvatar {
      width: 53px;
      height: 50px;
    }
  }
}
