.containerForEvent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 100px rgb(101 101 101 / 25%);
  border-radius: 20px;
  // margin-top: 15px;
  //   padding: 30px;

  .eventHeader {
    width: 100%;
    height: 362px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;

    .likeContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 20%;
      margin-bottom: 20px;
    }

    .eventTitle {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      z-index: 3;
      width: 100%;
      padding: 0 120px;

      color: #ffffff;
      .leftPartTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      .rightPart {
        // margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
    .buttonContainer {
      position: absolute;
      top: 260px;
      left: 800px;
    }
    .buyButton {
      margin-top: 20px;
      border: none !important;
      background-color: #ff6a7c;
      box-shadow: 5px 5px 10px #10050525;
    }
  }

  .descriptionPart {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 50px;
    width: 100%;

    .leftDescription,
    .rightDescription {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .leftDescription {
      .photoContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        img {
          border-radius: 10px;
          width: 141px;
          height: 141px;
          object-fit: cover;
        }
      }
    }

    .descriptionText {
      width: 60%;
      text-align: left;
    }

    .descrTitle {
      font-size: 20px;
      font-weight: 400;
      color: #0c0d2c;
    }
  }
}
