@use "../../../style/AlertMessages/errorMessage";
.inputCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  .inputName {
    border: none;
    border-bottom: 0.6px solid #fcc117;
    padding: 8px 0;
    outline: none;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    position: relative;
  }
  .labels {
    margin: 0;
    position: absolute;
    top: 5px;
    bottom: 0;
    padding-left: 10px;
    pointer-events: none;
    transition: 0.5s;
    font-weight: 300;
    font-size: 13px;
    color: #919191;
  }
  input:not(:placeholder-shown) ~ label,
  input:focus ~ label {
    transform: translateY(-25px);
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
}
