@use "../../../style/colors.scss" as color;
@import "../../../style/container";
.profileCont {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  width: 90%;
  margin: auto;

  .userInfoContainer {
    @include containerStyle;
    .userData {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 50px;
      .choosePhotoButton {
        border: 1px solid #b5b5bf;
        border-radius: 133px;
        width: 130px;
        height: 130px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          margin: 0 !important;
        }
      }
      p {
        height: 100%;
        text-align: left;
        margin: 0;
        margin-top: 20px;
      }
    }

    .registerDate {
      display: flex;
      justify-content: flex-end;
      color: #555454;
      font-size: 14px;
    }

    .bottomPart {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;

      .editButt {
        background-color: color.$button-color;
        border: none;
        width: auto;
        width: 99px !important;
        margin: 0 !important;
        padding: 12px 5px !important;
      }

      .buttonsContainer {
        .changePassButton {
          margin-right: 30px;
          color: color.$black;
          border: none;
          background-color: transparent;
          text-decoration: underline;
        }
        .changePassButton:hover {
          color: color.$button-color;
        }
      }
    }
  }

  .userTabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 26px;
    left: 1px;

    .tab {
      border: none;
      background-color: transparent;
      height: 100%;
      padding: 20px 20px 36px 20px;
      border-radius: 20px 20px 0 0;
      font-size: 17px;
    }
    .active {
      background-color: color.$white;
      border: none;
      color: color.$purple;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
