@use "../../../style/colors.scss" as color;
@import "../../../style/container";
.profileCont {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: auto;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .headerText {
      font-size: 20px;
      font-weight: 500;
      color: color.$headerColor;
      margin-bottom: 0;
    }
    .showButt {
      margin: 0;
      border: 2px solid color.$button-color;
      color: color.$button-color;
    }
  }

  .userInfoContainer {
    @include containerStyle;
    .userTypeContainer {
      display: flex;
      justify-content: flex-start;
      width: 50%;
      gap: 15px;
    }

    .userData {
      p {
        text-align: left;
        margin: 0;
      }
    }

    .registerDate {
      display: flex;
      justify-content: flex-end;
      color: #555454;
      font-size: 14px;
    }

    .bottomPart {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;

      .editButt {
        background-color: color.$button-color;
        border: none;
        width: 99px !important;
        margin: 0 !important;
      }
    }
  }
  .myEventsContainer {
    @include containerStyle;

    .cards {
      width: 100%;
      table {
        border-collapse: collapse;
        width: 100%;
        td {
          text-align: left;
          padding: 20px 0;
        }
      }
      .eventButtons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .showButton {
          margin-top: 0;
          background-color: color.$button-color;
          border: none;
          padding: 12px 5px !important;
          p {
            width: 100%;
          }
        }
      }
    }
  }

  .likedEventContainer {
    @include containerStyle;
    .likedEventCards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      grid-gap: 1rem;
      justify-items: center;
      width: 100%;
      margin-top: 30px;
    }
  }
}

.moreButton {
  border: 2px solid color.$button-color;
  padding: 7px 20px;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}
