.NavItem {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 200px;

  li {
    display: inline-block;
    margin-right: 68px;

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.activeNavItem {
  li {
    a {
      color: black !important;
    }
  }
}
