.Footer{
    height: 281px;
    background: linear-gradient(0deg, #232323, #232323);
    margin-top: 82px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .LogoContainer{
        margin-top: 27px;
        .logo{
            font-family: 'Baloo Thambi 2', cursive;
            color: white;
            margin-bottom: 0;
        }
    }
    .Text{
        color: white;
        font-size: 22px;
        font-weight: 400;
        margin-top: 30px;

        p{
            margin: 0;
        }
    }

    .ContactIcons{
        display: flex;
        justify-content: space-evenly;
        width: 25%;
        margin: 0 auto;
        margin-top: 43px;
    }
   

}