@use "../../../style/colors.scss" as color;
.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .UpPart {
    border-radius: 39px;
    height: 179px;
    width: 167px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: color.$white;
      font-weight: 500;
      font-size: 20px;
    }
  }
  &:hover .UpPart {
    filter: brightness(55%) blur(1px);
  }

  .TextContainer {
    margin-top: 14px;

    .EventName {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
    }
    .EventDate {
      margin: 0;
      margin-top: 4px;
      font-size: 16px;
      color: #8f909e;
      font-weight: 500;
    }
  }
  .hovered {
    top: 0;
    display: none;
    position: absolute;
    z-index: 5;
  }
  &:hover .hovered {
    display: block;
    transform: translateY(-20px);
    z-index: 3;

    .hoveredContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;

      .showMoreButt {
        margin-top: 0 !important;
        width: 127px;
        padding: 10px;
      }

      .showMoreButtNonAuth {
        // margin-top: 0 !important;
        width: 127px;
        padding: 10px;
      }
    }
  }
}
