.Card{

    .CardImage{
        width: 324px;
        height: 206px;
        border-radius: 39px;
        filter: drop-shadow(0px 4px 50px rgba(119, 119, 119, 0.14));
    }

    .TextContainer{
        margin-top: 14px;

        .EventName{
            margin:0;
            font-size: 18px;
            font-weight: 400;

        }
        .EventDate{
            margin: 0;
            margin-top: 4px;
            font-size: 16px;
            color: #8F909E;
            font-weight: 500;
        }
    }
}
