.regPage {
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/icons/loginRegisterBAckground.svg);

  .registerContain {
    padding: 80px;
    padding-top: 150px;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .regForm {
    background-color: white;
    box-shadow: 0px 4px 40px rgba(167, 167, 167, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
    width: 880px;

    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 41px;
      color: #0c0d2c;
    }

    .firstRow {
      display: flex;
      width: 85%;
      margin-bottom: 49px;
      gap: 20px;
    }
    .secondRow {
      display: flex;
      width: 85%;
      margin-bottom: 35px;
      gap: 20px;
    }
    .thirdRow {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 85%;
      gap: 35px;
      margin-bottom: 30px;
    }
  }
}

.buttContainer {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  align-items: baseline;
  margin-top: 30px;

  .RegButt {
    background-color: #ff5569;
    border: none;
    margin-top: 0;
  }

  .redirectLog {
    margin: 0;
    align-items: center;
    margin-left: 43px;
    a {
      color: black;
      text-decoration: underline;
    }
  }
}

// .allertSuccess,
// .allertError {
//   top: 89px;
//   left: 60px;
//   width: 90%;
//   position: absolute;
//   margin: 0 !important;
// }
