@use "../../../../style/colors.scss" as color;
@import "../../../../style/container";

.containerForLikedPage {
  @include containerStyle($width: 90%);
  margin: auto;
  .containerForLikedEvent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    width: 100%;
    margin-top: 30px;
  }
}
