.Search{
    margin: 0;
    margin-left: 38px;
    align-items: center;
    display: flex;
    flex-direction: row;
    width:100%;
}
.Input{
    display: flex;
    align-items: center;
    position: relative;
    width:70%;
    
    .InputLabel{
        margin: 0;
        position: absolute;
        top:10px;
        padding-left: 10px;
        pointer-events: none;
        transition: 0.5s;
        font-weight: 300;
        font-size: 13px;
        color: #919191;
    }

}

.SearchInput{
    border: none;
    border-bottom: 0.6px solid #FCC117;
    padding: 8px 0;
    outline: none;
    font-weight: 300;
    font-size: 14px;
    width:100%;
}

.SearchInput:focus ~ .InputLabel{
    top: -12px;
}

.searchButton{
    border: none;
    border-radius: 20px;
    background-color: #FCC117;
    padding: 7px 25px;
    padding: 7px 25px;
    margin-left: -15px;
    z-index: 2;
    
    .searchIcon{
        width: 26px;
        height: 26px;
    }
    
}

.LinkSearch{
    z-index: 2;
}



